<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/header') %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>
</head>
<body>
    <%- include('./partials/nav') %>
    <div class="container">
        <form action="/user/signin" method="post">
            <div class="form-group mt-4">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" name="email" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" required>
            </div>
            <div class="form-group mt-4">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" name="password" id="exampleInputPassword1" placeholder="Password" required>
            </div>
            <button type="submit" class="btn btn-primary mt-4">Sign In</button>
        </form>
    </div>
    <%- include('./partials/script') %>
</body>
</html>
